/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
/*     background-color:#007bff; */
    background: url(img/image1.png);
    background-position: center;
    background-size: cover;
}

header, footer {
    /* Add header and footer styles here */
}

.container {
    max-width: 800px;
    margin: auto;
    top: 19px;
    text-align: left;
    padding: 20vh;
    color: #000000;
    background: #ffffffef;
  }

main {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

form {
    margin-top: 20px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    width: 100%;
}

button {
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
